[submodule "bundle/vim-airline"]
	path = pack/vendor/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-elixir"]
	path = pack/vendor/start/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-sleuth"]
	path = pack/vendor/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
